@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    background-color: var(--bs-light);
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #fed700;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-ec-dark: #181818;
    --bs-ec-dark-body: #d9d9d9;
    --bs-primary: #fed700;
    --bs-ec-primary: #fed700;
    --bs-ec-primary-d: #e7c400;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #fed700;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #333e48;
    --bs-dark1: #F5F5F5;
    --bs-dark2: #EAEAEA;
    --bs-dark3: #F8F8F8;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

main {
    width: 100%;
    height: auto;
    background-color: var(--bs-white);
}

header {
    width: 100%;
    height: 183px;
    background-color: var(--bs-white);
}

.header-top-container {
    width: 100%;
    height: 38px;
    border-bottom: 1px solid var(--bs-ec-dark-body);
}

.header-top {
    width: 84%;
    height: 38px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-left ul, .top-right ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-left ul li, .top-right ul li {
    list-style: none;
}

.top-left ul li a, .top-right ul li a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    color: var(--bs-secondary);
    margin-right: 10px;
}

.top-left ul li a i, .top-right ul li a i {
    margin-right: 10px;
    margin-left: 10px;
    color: var(--bs-secondary);
}

.header-main-container {
    width: 84%;
    height: 100px;
    margin: 0 auto;
}

.header-main {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-logo {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.circle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--bs-ec-primary);
    top: 22px;
    left: 176px;
}

.main-logo h1 {
    font-size: 32px;
    font-weight: 600;
    color: var(--bs-dark);
}

.main-logo i {
    font-size: 22px;
    font-weight: 600;
    color: var(--bs-gray);
}

.main-search form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-search form input {
    width: 510px;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid var(--bs-ec-primary);
    border-right: none;
    padding-left: 30px;
    outline: none;
    color: var(--bs-secondary);
}

.main-search form select {
    width: 190px;
    height: 40px;
    border-top: 2px solid var(--bs-ec-primary);
    border-bottom: 2px solid var(--bs-ec-primary);
    border-left: none;
    border-right: none;
    padding: 0px 20px 0px 10px;
    outline: none;
    color: var(--bs-secondary);
}

.main-search form select option {
    color: var(--bs-secondary);
}

.main-search form button {
    padding: 10px 20px;
    background-color: var(--bs-ec-primary);
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.main-search form button i {
    font-size: 20px;
    color: var(--bs-dark);
}

.main-contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

#dropdown-account-active {
    font-size: 20px;
    color: var(--bs-dark);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.dropdown-account {
    display: none;
    position: absolute;
    top: 36px;
    left: -10px;
    width: 200px;
    height: 240px;
    background-color: var(--bs-white);
    border-top: 1px solid var(--bs-ec-primary);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 
    0 2px 10px rgba(0, 0, 0, 0.05), /* đổ bóng phía dưới */
    2px 0 10px rgba(0, 0, 0, 0.05), /* đổ bóng phía bên phải */
    -2px 0 10px rgba(0, 0, 0, 0.05); /* đổ bóng phía bên trái */
    z-index: 1000;
}

.main-contact .dropdown-account a.dropdown-account-a {
    display: block;
    font-size: 14px;
    padding: 8px 0px 8px 18px;
    color: var(--bs-dark);
    text-decoration: none;
    transition: all 0.3s ease;
}

.main-contact .dropdown-account a.dropdown-account-a:hover {
    background-color: var(--bs-light);
}

.main-contact i {
    font-size: 20px;
    color: var(--bs-dark);
    margin-right: 40px;
}

.main-contact-cart i {
    margin-right: 0;
}

.main-contact-cart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-contact-cart p {
    font-size: 18px;
    font-weight: 600;
    color: var(--bs-ec-dark);
    margin-left: 10px;
}

.quantity {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--bs-ec-primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 12px;
    left: 10px;
}

.quantity p {
    margin-left: 2px;
    font-size: 12px;
}

a.tooltip {
    position: relative;
    display: inline-block;
}

a.tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 180%;
    left: 50%;
    transform: translateX(-75%);
    background-color: var(--bs-ec-dark);
    color: var(--bs-white);
    font-size: 12px;
    padding: 10px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
}

a.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
}

a.tooltip-cart {
    position: relative;
    display: inline-block;
}

a.tooltip-cart::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 180%;
    left: 50%;
    transform: translateX(-5%);
    background-color: var(--bs-ec-dark);
    color: var(--bs-white);
    font-size: 12px;
    padding: 10px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
}

a.tooltip-cart.triangle::after {
    content: attr(data-tooltip);
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #000;
}

a.tooltip-cart:hover::after {
    opacity: 1;
    visibility: visible;
}

.header-bottom {
    width: 84%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

.header-bottom-left {
    width: 258px;
}

.header-bottom-left ul li {
    list-style: none;
}

.header-bottom-left ul li a {
    text-decoration: none;
    padding: 15px 97px 14px 20px;
    background-color: var(--bs-ec-primary);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: var(--bs-dark);
    font-size: 14px;
    font-weight: 600;
}

.header-bottom-left ul li a i {
    margin-right: 10px;
}

.header-bottom-right {
    width: 84%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    margin-right: 100px;
}

.header-bottom-right ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bottom-right ul li {
    list-style: none;
    margin-left: 40px;
}

.header-bottom-right ul li:last-child {
    margin-right: 0;
}

.header-bottom-right ul li a {
    text-decoration: none;
    color: var(--bs-dark);
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
}

.header-bottom-right ul li a i {
    margin-left: 5px;
}

.right {
    text-align: right;
}

#all-pages {
    color: var(--bs-danger);
    position: relative;
    width: 100px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

#all-pages:hover + #nav-open,
#nav-open:hover {
  display: block;
  transform: translateY(0);
}

#nav-open {
    z-index: 1000;
    display: none;
    position: absolute;
    top: 50px;
    left: 264px;
    width: 1350px;
    height: 439px;
    background-color: var(--bs-white);
    border-top: 2px solid var(--bs-ec-primary);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.1), 2px 2px 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(-6px);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

#nav-open nav {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
}

#nav-open nav ul {
    display: block;
    width: 18%;
    margin-right: 18px;
    margin-bottom: 30px;
}

#nav-open nav ul li {
    margin-bottom: 10px;
}

#nav-open nav ul li a {
    font-weight: 400;
}

#nav-open nav ul li a:hover {
    text-decoration: underline;
}

#nav-open nav ul .li-first {
    font-weight: 600;
}


#slider {
    width: 100%;
    height: 420px;
    background-color: var(--bs-light);
}

.light-dark {
    position: fixed;
    top: 340px;
    left: 0;
    transform: rotate(-90deg);
    width: 106px;
    height: 36px;
    border-radius: 50px;
    background-color: var(--bs-secondary);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.light-dark button {
    width: 48px;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: var(--bs-secondary);
    color: var(--bs-ec-dark);
}

.light-dark button.active {
    background-color: var(--bs-light);
    color: var(--bs-ec-dark);
}

.header-bottom-2 {
    width: 100%;
    height: 45px;
    background-color: var(--bs-ec-primary);
}

.h-b-container {
    width: 84%;
    height: 100%;
    background-color: var(--bs-ec-primary);
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.h-b-container ul {
    display: flex;
    justify-content: start;
    align-items: center;
}

.h-b-container ul li {
    list-style: none;
}

.h-b-container ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 12px 15px;
    font-size: 14px;
    color: var(--bs-dark);
    font-weight: 600;
    border-right: 1px solid #b9b9b95e;
}

.h-b-container ul li:last-child a {
    border-right: 1px solid var(--bs-ec-primary);
}

.h-b-container ul li a:hover {
    background-color: #e6c301;
}

.h-b-container ul li a i {
    margin-left: 5px;
}





#cart {
    width: 100%;
    height: auto;
    background-color: var(--bs-white);
    padding: 30px 0px 140px 0px;
}

.cart-container {
    width: 84%;
    height: auto;
    margin: 0 auto;
}

.c-c-title {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.c-c-title a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: var(--bs-dark);
}

.c-c-title i {
    margin: 0 20px;
}

.c-c-title p {
    font-size: 14px;
    font-weight: 500;
    color: var(--bs-dark);
}


.c-c-main {
    width: 100%;
    height: auto;
    padding: 20px 0px;
}

.c-c-m-title {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-c-m-title h1 {
    font-size: 40px;
    font-weight: 400;
    color: var(--bs-dark);
}

.c-c-m-views-cart {
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding: 40px 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid var(--bs-ec-dark-body);
    color: #747474;
    font-size: 14px;
    font-weight: 400;
}

tbody td {
    padding: 18px 10px;
    border-bottom: 1px solid var(--bs-ec-dark-body);
    color: #747474;
    font-size: 17px;
    font-weight: 500;
}

tbody td a {
    color: #747474;
    font-size: 17px;
    font-weight: 500;
}

tbody td img {
    width: 90px;
    height: 90px;
    border: 1px solid var(--bs-ec-dark-body);
}

tbody td form input.cart-quantity {
    width: 85px;
    height: 41px;
    border: 1px solid var(--bs-ec-dark-body);
    border-radius: 20px;
    outline: none;
    padding: 15px;
    color: #747474;
    font-size: 15px;
    font-weight: 500;
}

tbody td form button.btn-update {
    border-radius: 20px;
    outline: none;
    padding: 10px;
    color: var(--bs-gray);
    font-size: 15px;
    font-weight: 500;
    background-color: var(--bs-ec-dark-body);
    cursor: pointer;
    border: none;
    transition: all 0.3s;
}

tbody td form button.btn-update:hover {
    color: var(--bs-white);
    background-color: var(--bs-ec-dark);
}


.c-c-checkout {
    width: 70%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

form.checkout-post {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.c-c-c-coupon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-c-c-coupon input {
    width: 327px;
    height: 50px;
    border: 1px solid var(--bs-ec-dark-body);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 15px;
    font-size: 15px;
    color: #747474;
    outline: none;
}

.c-c-c-coupon button {
    width: 157px;
    height: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    color: var(--bs-white);
    background-color: #333e48;
    cursor: pointer;
    transition: all 0.3s;
}

.c-c-c-coupon button:hover {
    background-color: #202427;
}

.c-c-c-cart-totals {
    width: 500px;
    height: auto;
    text-align: center;
}

.c-c-c-c-t-title {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid var(--bs-ec-dark-body);
    margin-bottom: 20px;
}

.c-c-c-c-t-title h2 {
    font-size: 25px;
    font-weight: 400;
    color: var(--bs-dark);
    display: block;
    padding: 9px 0px;
    width: 100px;
    border-bottom: 1px solid var(--bs-ec-primary);
}

.c-c-c-c-t-sub, .c-c-c-c-t-ship, .c-c-c-c-t-total {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid var(--bs-ec-dark-body);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-c-c-c-t-total {
    border-bottom: none;
    margin-bottom: 20px;
}

.c-c-c-c-t-sub h3, .c-c-c-c-t-ship h3, .c-c-c-c-t-total h3 {
    font-size: 15px;
    font-weight: 700;
    color: var(--bs-ec-dark);
}

.c-c-c-c-t-sub h4, .c-c-c-c-t-ship h4, .c-c-c-c-t-total h4 {
    font-size: 15px;
    font-weight: 700;
    color: var(--bs-gray);
}

.c-c-c-cart-totals a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    background-color: var(--bs-ec-primary);
    color: var(--bs-ec-dark);
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
    transition: all 0.3s;
}

.c-c-c-cart-totals a:hover {
    background-color: #f0cc00;
}

.c-c-c-c-t-total h4#total {
    font-size: 20px;
    font-weight: 700;
    color: var(--bs-danger);
}




/* Checkout */

#checkout {
    width: 100%;
    height: auto;
    padding: 30px 0px 150px 0px;
}

.checkout-container {
    width: 84%;
    height: auto;
    margin: 0 auto;
}

.c-c-check {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.c-c-check h1 {
    font-size: 40px;
    font-weight: 400;
    color: var(--bs-dark);
}

.c-c-login, .c-c-code{
    width: 70%;
    height: 60px;
    background-color: var(--bs-ec-primary);
    border-left: 10px solid #ccad00;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 15px;
    margin-bottom: 30px;
}

.c-c-login p, .c-c-code p {
    font-size: 14px;
    font-weight: 400;
    color: var(--bs-dark);
}

.c-c-login a, .c-c-code a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: var(--bs-dark);
    margin-left: 5px;
}

.c-c-c-billing {
    width: 60%;
    height: auto;
    padding-right: 30px;
}

.c-c-c-b-title {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid var(--bs-ec-dark-body);
    display: flex;
    justify-content: start;
    align-items: center;
}

.c-c-c-b-title h1 {
    font-size: 25px;
    font-weight: 400;
    color: var(--bs-dark);
    display: block;
    width: 210px;
    height: 60px;
    border-bottom: 1px solid var(--bs-ec-primary);
    display: flex;
    justify-content: start;
    align-items: center;
}

.c-c-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-c-n-f, .c-c-n-l {
    display: flex;
    flex-direction: column;
}

.c-c-n-f label, .c-c-n-l label {
    font-size: 14px;
    font-weight: 700;
    color: var(--bs-dark);
    margin-top: 40px;
}

.c-c-n-f input, .c-c-n-l input {
    width: 315px;
    height: 45px;
    border-radius: 50px;
    border: 1px solid var(--bs-ec-dark-body);
    outline: none;
    padding: 0px 15px;
    font-size: 14px;
    font-weight: 400;
    color: var(--bs-gray);
    margin-top: 10px;
    transition: border-color 0.3s;
}

.c-c-n-f input:focus, .c-c-n-l input:focus {
    border-color: var(--bs-cyan); /* Màu xanh */
    outline: none; /* Loại bỏ đường viền khi nhấn vào */
}

.c-c-e, .c-c-p, .c-c-ad {
    display: flex;
    flex-direction: column;
}

.c-c-e label, .c-c-p label, .c-c-ad label {
    font-size: 14px;
    font-weight: 700;
    color: var(--bs-dark);
    margin-top: 20px;
}

.c-c-e input, .c-c-p input, .c-c-ad input {
    width: 100%;
    height: 45px;
    border-radius: 50px;
    border: 1px solid var(--bs-ec-dark-body);
    outline: none;
    padding: 0px 15px;
    font-size: 14px;
    font-weight: 400;
    color: var(--bs-dark);
    margin-top: 10px;
    transition: border-color 0.3s;
}

.c-c-e input:focus, .c-c-p input:focus, .c-c-ad input:focus {
    border-color: var(--bs-cyan); /* Màu xanh */
    outline: none; /* Loại bỏ đường viền khi nhấn vào */
}

.c-c-note {
    display: flex;
    flex-direction: column;
}

.c-c-note label {
    font-size: 14px;
    font-weight: 700;
    color: var(--bs-dark);
    margin-top: 20px;
    margin-bottom: 10px;
}

.c-c-note textarea {
    border-radius: 30px;
    border: 1px solid var(--bs-ec-dark-body);
    outline: none;
    padding: 15px;
    font-size: 14px;
    font-weight: 400;
    color: var(--bs-dark);
    transition: border-color 0.3s;
}

.c-c-note textarea:focus {
    border-color: var(--bs-cyan); /* Màu xanh */
    outline: none; /* Loại bỏ đường viền khi nhấn vào */
}



.c-c-c-totals {
    width: 40%;
    height: auto;
    background-color: #f5f5f5;
    padding: 20px 20px 40px 20px;
    border-radius: 10px;
    text-align: center;
}

.c-c-c-t-title-head {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid var(--bs-ec-dark-body);
    display: flex;
    justify-content: start;
    align-items: center;
}

.c-c-c-t-title-head h2 {
    font-size: 25px;
    font-weight: 400;
    color: var(--bs-dark);
    display: block;
    width: 210px;
    height: 60px;
    border-bottom: 1px solid var(--bs-ec-primary);
    display: flex;
    justify-content: start;
    align-items: center;
}

.c-c-c-t-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.c-c-c-t-title h3 {
    font-size: 14px;
    font-weight: 700;
    color: var(--bs-dark);
}

.c-c-c-t-details-book {
    display: flex;
    flex-direction: column;
}

.details-book {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-c-c-t-d-b-d {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.c-c-c-t-d-b-d h4, .c-c-c-t-d-b-p h4 {
    font-size: 14px;
    font-weight: 600;
    color: var(--bs-gray);
}

.c-c-c-t-d-b-d h5 {
    font-size: 14px;
    font-weight: 700;
    color: var(--bs-dark);
    margin-left: 10px;
}


.c-c-c-t-sub, .c-c-c-t-ship, .c-c-c-t-total {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid var(--bs-ec-dark-body);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-c-c-t-total {
    border-bottom: none;
    margin-bottom: 20px;
}

.c-c-c-t-sub h3, .c-c-c-t-ship h3, .c-c-c-t-total h3 {
    font-size: 15px;
    font-weight: 700;
    color: var(--bs-ec-dark);
}

.c-c-c-t-sub h4, .c-c-c-t-ship h4, .c-c-c-t-total h4 {
    font-size: 15px;
    font-weight: 700;
    color: var(--bs-gray);
}

.c-c-c-totals button#btn-checkout {
    padding: 15px 30px;
    border: none;
    background-color: var(--bs-ec-primary);
    color: var(--bs-ec-dark);
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
    transition: all 0.3s;
    cursor: pointer;
}

.c-c-c-totals button#btn-checkout:hover {
    background-color: #f0cc00;
}

.c-c-c-totals a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    background-color: var(--bs-ec-primary);
    color: var(--bs-ec-dark);
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
    transition: all 0.3s;
}

.c-c-c-totals a:hover {
    background-color: #f0cc00;
}

.c-c-c-t-total h4#total {
    font-size: 20px;
    font-weight: 700;
    color: var(--bs-danger);
}



/* Checkout Process */

#check-process {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-p-container {
    width: 500px;
    height: auto;
    border: 1px solid var(--bs-ec-dark-body);
    border-radius: 10px;
    padding: 60px 50px;
    margin: 0 auto;
    text-align: center;
}

.c-p-container i {
    font-size: 120px;
    color: var(--bs-ec-primary);
    margin-bottom: 80px;
}

.c-p-container h1 {
    font-size: 20px;
    font-weight: 700;
    color: var(--bs-dark);
    margin-bottom: 10px;
}

.c-p-container h2 {
    font-size: 16px;
    font-weight: 400;
    color: var(--bs-dark);
    margin-bottom: 30px;
}

.c-p-container a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 50px;
    background-color: var(--bs-ec-primary);
    font-size: 15px;
    font-weight: 600;
    color: var(--bs-dark);
    transition: all 0.3s ease;
}

.c-p-container a:hover {
    background-color: var(--bs-ec-dark);
    color: var(--bs-white);
}








footer {
    width: 100%;
    height: 436px;
    background-color: var(--bs-dark3);
}

.footer-container-fluid {
    width: 100%;
    height: 70px;
    background-color: var(--bs-ec-primary);
}

.footer-container {
    width: 84%;
    height: 70px;
    background-color: transparent;
    margin: 0 auto;
}

.f-c-top {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-c-top-left {
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-c-top-left-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-c-top-left-left i {
    font-size: 20px;
    margin-right: 20px;
    color: var(--bs-ec-dark);
}

.f-c-top-left-left h3 {
    font-size: 20px;
    font-weight: 500;
    color: var(--bs-ec-dark);
}

.f-c-top-left-right h3 {
    font-size: 15px;
    font-weight: 400;
    color: var(--bs-ec-dark);
}

.f-c-top-left-right h3 span {
    font-size: 15px;
    font-weight: 600;
    color: var(--bs-ec-dark);
}

.f-c-top-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-c-top-right input {
    width: 460px;
    height: 40px;
    border-radius: 50px;
    border: none;
    outline: none;
    padding: 0px 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.f-c-top-right button {
    display: inline-block;
    padding: 12px 30px;
    background-color: var(--bs-ec-dark);
    color: var(--bs-white);
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.footer-container-main {
    width: 100%;
    height: 320px;
}

.f-c-main {
    width: 84%;
    height: 320px;
    margin: 0 auto;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .f-c-main-left {
    
} */

.main-logo-f {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 15px;
}

.f-c-main-left-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.f-c-main-left-phone i {
    font-size: 35px;
    color: var(--bs-ec-primary);
    margin-right: 20px;
}

.f-c-main-left-phone p {
    font-size: 22px;
    color: var(--bs-ec-dark);
    padding-top: 5px;
}

.f-c-main-left-info {
    margin-bottom: 10px;
}

.f-c-main-left-info h3 {
    font-size: 14px;
    font-weight: 600;
    color: var(--bs-ec-dark);
}

.f-c-main-left-info p {
    font-size: 14px;
    color: var(--bs-ec-dark);
}

.f-c-main-left-icon i {
    font-size: 20px;
    color: var(--bs-gray);
    margin-right: 20px;
}

.f-c-main-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-c-main-right-column {
    margin-left: 200px;
}

.f-c-main-right-column-right {
    text-align: right;
    margin-left: 200px;
}

.f-c-main-right-column h3, .f-c-main-right-column-right h3 {
    font-size: 16px;
    font-weight: 600;
    color: var(--bs-ec-dark);
    margin-bottom: 20px;
}

.f-c-main-right-column li, .f-c-main-right-column-right li {
    list-style: none;
    margin-bottom: 10px;
}

.f-c-main-right-column li a, .f-c-main-right-column-right li a {
    text-decoration: none;
    font-size: 14px;
    color: var(--bs-ec-dark);
}

.footer-container-bottom {
    width: 100%;
    height: 45px;
    background: var(--bs-dark2);
}

.f-c-bottom {
    width: 84%;
    height: 45px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-c-bottom h3 i {
    margin-right: 10px;
}


/* Wishlist and Compare */

.wishlist, .compare {
    border: none;
    background-color: transparent;
    font-size: 14px;
    color: var(--bs-gray);
    cursor: pointer;
}

.wishlist i, .compare i {
    margin-right: 5px;
}